.nav {
    grid-area: n;
    background-color: rgb(158, 158, 158);
    padding: 15px;
  }

  .item a{
    color: white;
    text-decoration: none;
    padding: 5px;
  }

  .item .active{
    font-weight: 700;
  }